<h1>BEEEEEEF</h1>

<h2>Beef to be Eaten!!!</h2>

<ul>
  {{#each burgers}}
    {{#unless consumed}}
      {{> beef-block consumed=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Beef Already Eaten!!!</h2>

<ul>
  {{#each burgers}}
    {{#if consumed}}
      {{> beef-block consumed=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Beef!</h2>

<form class="create-form" id="eatForm">

    <div class="form-group">
        <label for="notHungry">Hungry? Why not try:</label>
        <input type="text" id="notHungry" name="name">
    </div>
    
    <div class="form-group">
        <label for="Consume">Consume?</label><br>
        <input type="radio" name="Consume" value="1" checked> Consume!<br>
        <input type="radio" name="Consume" value="0"> Not Yet Consumed
    </div>

    <button type="submit">Consume the Meat!</button>
</form>